:root {
  --background-color-white: #ffffff;
  --color-of-content: #e53939;
  --text-color-black: #000000;
  --text-color-black-2: #00000094;
  --text-color-white: #ffffff;
  --text-color-white-2: #ffffffb9;
  --text-color-red: #e53939;
  --text-color-red-2: #e53939a1;
}
