footer {
  padding: 0.65rem;
  text-align: center;
  background-color: var(--text-color-black);
  color: var(--text-color-white);
}

footer span {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-of-content);
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 0.8rem;
  }
}
